.logoContainer{
    width: 1440px;
}

.logoTitle{
    color: #FFF;
    font-family: Outfit;
    font-size: 60.081px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9.012px;
    text-transform: uppercase;
}

.logopng{
    background-blend-mode: soft-light;
    color: white;
    width: 200.028px;
    height: 197.618px;
    flex-shrink: 0;
    aspect-ratio: 200.03/197.62;

}